*{
 margin:0;
 padding:0;
}

body{
  font-family: 'Yu Gothic UI';
}

a{
  text-decoration:none;
}


.container{
  width:1170px;
  margin:0 auto;
  padding:0 15px;
}

header{
  height:50px;
  width:100%;
  background-color:black;
  color:white;
  line-height:50px;
  background-color:rgba(00,00,00,0.7) ;
  position:fixed;
  top:0px;
  z-index:10;
}

.header-left{
  float:left;
  color:white;
}

.header-right{
  float:right;
  transition:all 1s;
  background-color: rgba(255, 255, 255, 0.3);
}

.header-right:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a{
  line-height:50px;
  padding:0 10px;
  color:white;
  display:block;

}

/* トップの中身ここから */
.top-wrapper{
 background-image:url(NIS180821000_TP_V.jpg);
 color:white;
 background-size:cover;
 padding:120px 0 150px 0;
 text-align:center;
 opacity: 0.7;
}

.top-wrapper h1{
  letter-spacing:20px;
}

.top-wrapper p {
  line-height:80px;
}

.btn-wrapper{
 margin-top:50px;
 text-align:center;
}


.btn-wrapper p {
  line-height:40px;
}


.btn{
  display:inline-block;
  opacity:0.8;
  font-size:35px;
  color:white;
  padding:5px;
}

.btn:hover{
  opacity:1;
}

.twitter{

  background-color:#3b5998;
  color: white;
}

.blog{
  background-color:green;
  color:white;
}
/* ここまで */
/* コンテンツ　ここから */
.contents-wrapper{
  height:1000px;
  text-align:center;
  background-color:#f7f7f7;
  color:black;
}
.content-icon{
  height: 200px;
  width: 200px;
}

.content p{
  font-size:40px;
}


.heading h2{
  fontsize:normal;
  padding-top:40px;
  padding-bottom:20px;
  border-bottom:3px solid gray;

}



.content{
  float:left;
  width:33%;
  padding-top:40px;
}

.content:hover{
  opacity:0.7;
  background-color:#afeeee;
}

.content-p{
  width:80%;
  color:black;
  margin:10px;
  display:inline-block;
}

.txt-content{
  width:80%;
  display:inline-block;
  font-size:20px;
}
/* コンテンツここまで */

.message-wrapper{
  padding:80px 0 150px 0;
  text-align:center;
}

.otanoshimi{
  color:white;
  background-color:#5dca88;
  margin-top:40px;
  padding:10px;
  font-size:40px;
  box-shadow:0 7px #1a7940;
  cursor:pointer;
}

.otanoshimi:active{
  position:relative;
  top:7px;
  box-shadow:none;
}

footer{
  height:100px;
  background-color:black;
  opacity:0.7;
  font-size:30px;

}

.footer-btn{
  color:white;
}

.footer-btn:hover{
  text-decoration:underline;
  opacity:0.7;
}

.footer-left{
  float:left;
  line-height: 100px;

}

.footer-right{
  float:right;
  text-align:center;
  margin-top:10px;
}

.
